Repository imran1289-ah/team_Taiga-soen341project2022, pull requests merged in 2022-04, with the labels that each got.

#103 Customer History, Account Management, Clean Up and Better File Structure
  src/client/src/AdminOnly/AddUser.css
  src/client/src/AdminOnly/AddUser.js
  src/client/src/AdminOnly/AdminMenu.css
  src/client/src/AdminOnly/AdminMenu.js
  src/client/src/AdminOnly/ChangePassword.css
  src/client/src/AdminOnly/ChangePassword.js
  src/client/src/AdminOnly/EditUser.css
  src/client/src/AdminOnly/EditUser.js
  src/client/src/App.css
  src/client/src/App.js
  src/client/src/Common/FilterProducts.css
  src/client/src/Common/FilterProducts.js
  src/client/src/Common/Footer.css
  src/client/src/Common/Footer.js
  src/client/src/Common/Header.css
  src/client/src/Common/Header.js
  src/client/src/Common/Login.css
  src/client/src/Common/Login.js
  src/client/src/Common/ManageUserProfile.css
  src/client/src/Common/ManageUserProfile.js
  src/client/src/Common/SlideShow.css
  src/client/src/Common/SlideShow.js
  src/client/src/Common/Types.css
  src/client/src/Common/Types.js
  src/client/src/CustomerOnly/Cart.css
  src/client/src/CustomerOnly/Cart.js
  src/client/src/CustomerOnly/ChangeMyPassword.css
  src/client/src/CustomerOnly/ChangeMyPassword.js
  src/client/src/CustomerOnly/History.css
  src/client/src/CustomerOnly/History.js
  src/client/src/ProductLists/Booklist.css
  src/client/src/ProductLists/Bookslist.js
  src/client/src/ProductLists/Clotheslist.css
  src/client/src/ProductLists/Clotheslist.js
  src/client/src/ProductLists/Electronicslist.css
  src/client/src/ProductLists/Electronicslist.js
  src/client/src/ProductLists/Furniturelist.css
  src/client/src/ProductLists/Furniturelist.js
  src/client/src/ProductLists/Grocerylist.css
  src/client/src/ProductLists/Grocerylist.js
  src/client/src/ProductLists/Productlist.css
  src/client/src/ProductLists/Toyslist.css
  src/client/src/ProductLists/Toyslist.js
  src/client/src/SellerOnly/AddProduct.css
  src/client/src/SellerOnly/AddProduct.js
  src/client/src/SellerOnly/EditProduct.css
  src/client/src/SellerOnly/EditProduct.js
  src/client/src/SellerOnly/SellerMenu.css
  src/client/src/SellerOnly/SellerMenu.js
  src/client/src/Taiga_Logo.png
  src/client/src/product_data.js
  src/server/index.js
  src/server/models/products.js
  src/server/routes/productsRoutes.js
  src/server/routes/userRoutes.js
Labels: bug, task:backend, task:frontend, user story#5

#111 Sprint 4 testing
  test/admin.test.js
Labels: task:backend, userstory#3, Admin managing profiles, Testing

#112 Backend refactoring and static analysis setup
  src/client/package-lock.json
  src/client/package.json
  src/server/auth.js
  src/server/controllers/adminController.js
  src/server/controllers/productsController.js
  src/server/controllers/userController.js
  src/server/index.js
  src/server/models/products.js
  src/server/models/user.js
  src/server/package-lock.json
  src/server/package.json
  src/server/routes/adminRoutes.js
  src/server/routes/productsRoutes.js
  src/server/routes/userRoutes.js
Labels: task:backend, task:frontend
